<script type="text/template" id="main-tpl">
<div id="users-statistics-plot" style="padding:30px; display: flex; justify-content: space-around; align-items: stretch;">
    <div id="part-all-proctors" style="border: 1px solid #000080; width: 45%; padding: 10px;"></div>
    <div id="part-one-proctor" style="border: 1px solid #000080; width: 45%; padding: 10px;"></div>
</div>
<table id="users-grid" class="easyui-datagrid" data-options="toolbar:'#users-toolbar',border:false,fitColumns:true,fit:true">
</table>
<div id="users-toolbar" style="padding-left:5px;">
    <input name="date-from" class="easyui-datebox date-from" style="width:110px;" data-options="prompt:'<%- i18n.t('admin.proctor_statistics.fromDatePrompt') %>'">
    <input name="date-to" class="easyui-datebox date-to" style="width:110px;" data-options="prompt:'<%- i18n.t('admin.proctor_statistics.toDatePrompt') %>'">
    <input name="user-text-search" class="easyui-searchbox text-search" style="width:350px" data-options="prompt: '<%- i18n.t('admin.proctor_statistics.searchTextPrompt') %>'">
</div>

</script>
<script type="text/template" id="user-item-tpl">
<a href="javascript:void(0);" class="user-info" data-id="<%- row._id %>" title="<%- i18n.t('admin.proctor_statistics.proctorProfile') %>">
    <%- row.lastname || i18n.t('user.unknown') %> <%- row.firstname %> <%- row.middlename %>
</a>
</script>
<script type="text/template" id="user-stats-tpl">
<a href="javascript:void(0);" class="user-stats" data-id="<%- row._id %>" title="<%- i18n.t('admin.proctor_statistics.proctorProfile') %>">
    <%- i18n.t('admin.proctor_statistics.stats_is_active') %>
</a>
</script>