<script type="text/template" id="main-tpl">
<table id="users-grid" class="easyui-datagrid" data-options="toolbar:'#users-toolbar',border:false,fitColumns:true,fit:true">
</table>
<div id="users-toolbar" style="padding-left:5px;">
    <input name="date-from" class="easyui-datebox date-from" style="width:110px;" data-options="prompt:'<%- i18n.t('admin.proctor_statistics.fromDatePrompt') %>'">
    <input name="date-to" class="easyui-datebox date-to" style="width:110px;" data-options="prompt:'<%- i18n.t('admin.proctor_statistics.toDatePrompt') %>'">
    <input name="user-text-search" class="easyui-searchbox text-search" style="width:350px" data-options="prompt: '<%- i18n.t('admin.proctor_statistics.searchTextPrompt') %>'">
</div>
</script>
<script type="text/template" id="user-item-tpl">
<a href="javascript:void(0);" class="user-info" data-id="<%- row.proctor_info._id %>" title="<%- i18n.t('admin.proctor_statistics.proctorProfile') %>">
    <%- row.proctor_info.lastname || i18n.t('user.unknown') %> <%- row.proctor_info.firstname %> <%- row.proctor_info.middlename %>
</a>
</script>